# Ignore large data
data/*.mhd
data/*.raw
!data/README.md

# Ignore MATLAB backup files
*.m~

# Ignore Models
model/*.mat
model/*.tar.gz

# Ignore general .mat files
*.mat
!src/project/finalModel.mat


